<!-- <div class="upper-jumbo">
  <h3 class="display-7 text-center">LE PREMIER OUTIL QUI PERMET DE COMPARER VOS DEPENSES AUX MEILLEURS CONTRATS DU MARCHÉ</h3> 
  <h3 class="display-7 text-center mt-4">Payez-vous au juste prix vos factures?</h3> 
</div> -->
<div class="jumbotron" id="jumbo-image">
    <!-- <div class="jumbo-text"> -->
      <!-- <h1 class="display-1 mb-5">Point Budget</h1> -->
      <!-- <h1 class="display-2 align-self-start"> Nous comparons ... </h1>
      <h1 class="display-2 align-self-center mb-5"> ... Vous économisez </h1>
      <h1 class="display-4 align-self-center mb-5">Payez-vous au juste prix vos factures?</h1>  -->
      <div class="row jumbo-text">
        <div class="col-md-3 btn-no-disp"> 
          <div class="col-md-12 jumbo-btn">
            <% if user_signed_in? %>
              <%=link_to "Lancer une simulation", new_user_full_simulation_path(current_user), class: "mr-2 mb-2 btn-jumbo btn-lg mt-3"%>
            <%else%>
              <%=link_to "Faire une étude gratuite", new_user_registration_path, class: "btn-etude"%>
              <%=link_to "Me connecter", new_user_session_path, class: "btn-log mr-2 mb-2 mt-3"%>
            <%end%>
          </div>
        </div>
        <div class="col-md-12 txt">
          <h3 class="display-7 text-center">Le premier outil qui permet de comparer vos dépenses aux meilleurs contrats du marché</h3> 
        </div>
      </div>
    <!-- </div> -->
</div>
